<tr id="deal_<%= deal.id %>" is='turbo-frame' class="border-b-2 border-light-palette-p3 last:border-none" data-controller='load-lucid-icons'>
  <td class="py-2.5 pl-4 pr-4 flex-shrink-0">
    <div class="w-[52px] h-[52px] flex">
      <div class="border-2 bg-brand-palette-08 rounded-md h-full w-full flex items-center justify-center color-fg-default">
        <%= embedded_svg("deals-icon.svg", class: "fill-dark-gray-palette-p3 m-auto w-6 h-6 ") %>
      </div>
    </div>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[350px] truncate">
    <%= deal.name %>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[100px] truncate">
    <%= Deal.human_enum_name(:status, deal.status) %>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[150px] truncate">
    <%= deal.id %>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[250px] truncate">
    <%= deal.stage.name %>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[200px] truncate">
    <%= deal.total_amount_in_cents_at_format %>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[250px] truncate">
    <%= deal.pipeline.name %>
  </td>
  <td class="pr-4 py-2.5 max-w-[280px]">
    <%= render '/components/links/hovercard_trigger', model: deal.contact, hovercard_preview_url: hovercard_preview_account_contact_path(Current.account, deal.contact), details_url: account_contact_path(Current.account, deal.contact) do %>
      <p class='typography-sub-title-900 color-fg-soft hover:color-fg-default h-full align-middle inline-block max-w-[280px] truncate <%= dom_id(deal.contact, :stream_full_name) %>'>
        <%= deal.contact&.full_name %>
      </p>
    <% end %>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[280px] truncate">
    <%= deal.creator&.full_name %>
  </td>
  <td class="pr-4 py-2.5 typography-body-r-lh150 text-dark-gray-palette-p2 max-w-[250px] truncate">
    <%= l(deal.created_at, format: :long) %>
  </td>
  <td class="py-2.5 pl-4 pr-4 sticky right-0 bg-light-palette-p5 z-10">
    <div class="flex justify-end gap-2">
      <button id="dropdownuserBtn_<%= deal.id %>" data-dropdown-toggle="dropdownuserOptions<%= deal.id %>" data-dropdown-placement="left" class="button-default-blank-secondary-icon-only-sm" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="more-vertical" class="stroke-dark-gray-palette-p3">
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="12" cy="5" r="1"></circle>
          <circle cx="12" cy="19" r="1"></circle>
        </svg>
      </button>
    </div>
  </td>
</tr>
<div id="dropdownuserOptions<%= deal.id %>" class="z-50 hidden bg-white divide-y divide-gray-200 rounded-lg shadow w-48 dark:bg-gray-700">
  <ul class="py-2 typography-text-m-lh150 text-dark-gray-palette-p3 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li>
      <%= link_to account_deal_path(Current.account, deal), data: {turbo_frame: :_top}, class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-300 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white' do %>
        <i data-lucide="info"></i>
        <p>
          <%= t('activerecord.models.show') %>
        </p>
      <% end %>
    </li>
    <li>
      <%= link_to account_deal_path(current_user.account, deal),
              method: :delete,
              data: { confirm: t('views.layouts.shared.navbar_deal.are_you_sure?') }, class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-300 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white' do %>
        <i data-lucide="trash"></i>
        <p>
          <%= t('activerecord.models.delete') %>
        </p>
      <% end %>
    </li>
  </ul>
</div>
