<%= turbo_frame_tag dom_id(model, :deal_show_page_overview) do %>
  <%= form_with(model: model, url: update_path) do |form| %>
    <%= form.hidden_field :deal_page_id, value: params[:deal_page_id] %>
    <div class="bg-light-palette-p5">
      <div class="flex items-center py-4 justify-between">
        <div class="flex items-center gap-2 text-dark-gray-palette-p1">
          <i data-lucide=<%= model.class.name.downcase == 'contact' ? 'phone' : 'info' %> class='w-5 h-5 stroke-1.04'></i>
          <p class="typography-body-s-lh150 ">
            <%= t("activerecord.models.#{model.class.name.downcase}.one") %>
          </p>
        </div>
        <div class='flex gap-2'>
          <%= form.submit t('views.accounts.deals.details.edit.save_changes'), class: 'button-default-blank-secondary-sm', data: { turbo_frame: "form_#{model.class.name.downcase}_#{model.id}" } %>
          <%= link_to :back, class: 'button-default-blank-secondary-icon-only-sm' do %>
            <i data-lucide="x"></i>
          <% end %>
        </div>
      </div>
      <div class="mb-4">
        <% if model.errors.any? %>
          <ul class= 'mb-4'>
            <% model.errors.each do |error| %>
              <li class="typography-body-s-lh150 text-auxiliary-palette-red "><%= error.full_message %></li>
            <% end %>
          </ul>
        <% end %>
        <div class='flex flex-col gap-4'>
          <% model.class::FORM_FIELDS.each do | f | %>
            <% unless f.in?([:chatwoot_conversations_label_list, :creator, :total_amount_in_cents]) %>
              <div class="flex flex-col col-span-full gap-2">
                <%= form.label f, class: 'typography-text-s-lh150 text-gray-pallete-p3' %>
                <%= form.text_field f, f == :label_list ? { value: model.labels.join(', '), placeholder: t('views.accounts.deals.details.edit.tag_placeholder'), class: ' form-input !border-light-palette-p3', data: {controller: 'tag-input'} } : { class: "form-input", data: {controller: "input-mask--input-#{f}"} } %>
              </div>
              <% if model.class.name == 'Deal' %>
                <div class="flex flex-col col-span-full gap-2">
                  <%= form.label :stage_id, class: "typography-text-s-lh150 text-gray-pallete-p3" %>
                  <%= form.select(:stage_id, @stages.map { |stage| ["#{stage.pipeline.name} - #{stage.name}", stage.id] }, {}, { class: 'form-input' }) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <%= render 'accounts/deals/details/edit_custom_attributes', form: form, model: model %>
        </div>
      </div>
      <div class=" border-t-2 border-light-palette-p3 pb-4 pt-3">
        <div class="flex flex-col gap-2">
          <label class="flex-grow m-0 text-brand-palette-03 typography-text-s-lh150">
            <%= t('views.accounts.deals.details.edit.add_custom_attributes') %>
          </label>
          <div class="w-full">
            <% if model.class.name.downcase == 'deal' %>
              <%= turbo_frame_tag "form_custom_attributes_#{model.class.name.downcase}_#{model.id}" do %>
                <%= link_to account_deal_edit_custom_attributes_path(current_user.account, model), class: 'inline-block w-full h-10 flex justify-center items-center select-none border-2 border-2 bg-light-palette-p4 text-dark-gray-palette-p3 rounded-md border-light-palette-p3 hover:border-brand-palette-06 hover:bg-brand-palette-08 hover:border-2 hover:text-brand-palette-03 hover:duration-100' do %>
                  <i data-lucide="plus" height="18"></i>
                <% end %>
              <% end %>
            <% elsif model.class.name.downcase == 'contact' %>
              <%= turbo_frame_tag "form_custom_attributes_#{model.class.name.downcase}_#{model.id}" do %>
                <%= link_to account_contact_edit_custom_attributes_path(current_user.account, model, deal_page_id: params[:deal_page_id]), class: 'inline-block w-full h-10 flex justify-center items-center select-none border-2 border-2 bg-light-palette-p4 text-dark-gray-palette-p3 rounded-md border-light-palette-p3 hover:border-brand-palette-06 hover:bg-brand-palette-08 hover:border-2 hover:text-brand-palette-03 hover:duration-100' do %>
                  <i data-lucide="plus" height="18"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
