<%= turbo_frame_tag dom_id(model, :deal_show_page_overview) do %>
  <div class="flex items-center py-4 justify-between gap-1.5 relative" data-controller="load-lucid-icons load-flowbite">
    <div class='flex items-center gap-2.5 '>
      <div class="flex items-center gap-2 text-dark-gray-palette-p1">
        <i data-lucide=<%= model.class.name.downcase == 'contact' ? 'phone' : 'info' %> class='w-5 h-5 stroke-1.04'></i>
        <p class="typography-body-s-lh150 ">
          <%= t("activerecord.models.#{model.class.name.downcase}.one") %>
        </p>
      </div>
      <%= render '/components/links/chatwoot_conversation_link', contact: model %>
    </div>
    <div class='flex gap-2'>
      <%= link_to edit_path, class: 'button-default-blank-secondary-icon-only-sm' do %>
        <i data-lucide="pencil"></i>
      <% end %>
      <button type="button" class="button-default-blank-secondary-icon-only-sm" data-accordion-target="#accordion-collapse-<%= "#{model.class.name.downcase}_#{model.id}"%>" aria-expanded="true" aria-controls="accordion-collapse-<%= "#{model.class.name.downcase}_#{model.id}"%> ">
        <i data-accordion-icon data-lucide="chevron-down" class="rotate-180 shrink-0" height="16"></i>
      </button>
    </div>
  </div>
  <div id="accordion-collapse-<%= "#{model.class.name.downcase}_#{model.id}"%>" class="hidden grid sm:grid-cols-2 gap-4 pb-4" aria-labelledby="accordion-collapse-heading-<%= "#{model.class.name.downcase}_#{model.id}"%>">
    <% model.class::SHOW_FIELDS.slice(:deal_page_overview_details).each do | show_field_category |  %>
      <% show_field_category[1].each do | show_field |  %>
        <% if show_field.is_a?(Hash) && show_field.key?(:relations) %>
          <% show_field[:relations].each do |relation_name, field| %>
            <div class="flex flex-col col-span-full">
              <p class='typography-text-s-lh150 text-gray-pallete-p3'>
                <%= t("activerecord.attributes.#{model.model_name.i18n_key}.#{relation_name}") %>
              </p>
              <p class='typography-sub-text-m-lh150 text-dark-gray-palette-p1 break-all'>
                <%= model.send(relation_name)&.send(field) %>
              </p>
            </div>
          <% end %>
        <% else %>
          <% unless show_field.in?([:chatwoot_conversations_label_list]) && model.send(show_field).blank? %>
            <div class="flex flex-col col-span-full">
              <p class='typography-text-s-lh150 text-gray-pallete-p3'>
                <%= t("activerecord.attributes.#{model.model_name.i18n_key}.#{show_field}") %>
              </p>
              <% if show_field.in?([:label_list, :chatwoot_conversations_label_list]) %>
                <%= render 'components/list_labels', labels: model.send(show_field), max_width: '100%', justify_content: 'start' %>
              <% else %>
                <p class='typography-sub-text-m-lh150 text-dark-gray-palette-p1 break-all <%= show_field == :total_amount_in_cents_at_format ? 'stream_deal_total_amount_in_cents' : '' %>'>
                  <%= model.send(show_field) %>
                </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= render 'accounts/deals/details/show_custom_attributes', model: model %>
    <% end %>
  </div>
<% end %>
