<% hover_id = model.object_id %>
<% popover_placement = popover_placement || "right" %>
<%= link_to details_url, class: "cursor-pointer peer" , data: { popover_target: "popover-overview-#{model.class.name.downcase}-#{hover_id}", popover_placement: popover_placement, popover_offset: '5' , turbo_frame: :drawer } do %>
  <%= yield %>
<% end %>
<div data-popover id="popover-overview-<%= model.class.name.downcase %>-<%= hover_id %>" role="tooltip" class="absolute z-30 invisible transition-opacity duration-300 w-96 hidden peer-hover:inline-block peer-hover:opacity-100 hover:inline-block hover:opacity-100 cursor-auto" data-action='mouseover->drag#disableDrag mouseout->drag#enableDrag'>
  <%= turbo_frame_tag dom_id(model, :hovercard_preview), src: hovercard_preview_url, loading: :lazy  do %>
    <%= render "/components/skeleton/#{model.class.name.underscore.pluralize.downcase}/card_preview" %>
  <% end %>
  <div data-popper-arrow></div>
</div>
