<% menu_items = [
  {
    path: account_pipelines_path(Current.account),
    icon: 'clipboard-list',
    label: t('activerecord.models.deal.other'),
    active_if: -> { request.path.include?('pipelines') || request.path.include?('deal') }
  },
  {
    path: calendar_account_events_path(Current.account),
    icon: 'calendar-check-2',
    label: Event.human_enum_name(:kind, :activity).pluralize,
    active_if: -> { request.path.include?('calendar') }
  },
  {
    path: account_contacts_path(Current.account),
    icon: 'contact',
    label: t('activerecord.models.contact.other'),
    active_if: -> { request.path.include?('contact') }
  },
  {
    path: account_products_path(Current.account),
    icon: 'box',
    label: t('activerecord.models.product.other'),
    active_if: -> { request.path.include?('product') }
  },
  {
    path: account_reports_path(Current.account, type: :account, since: Date.today.beginning_of_month, until: Date.today.end_of_month, group_by: 'day'),
    icon: 'chart-no-axes-combined',
    label: t('activerecord.models.reports'),
    active_if: -> { request.path.include?('reports') },
    link_data: { controller: "form--set-timezone-offset" }
  }
]
%>
<div data-controller="element-expanded" aria-expanded="true" class="group ease-in h-screen duration-300 border-r-[1.5px] color-border-default color-bg-surface-default relative p-4 space-y-4 aria-expanded:space-y-8 w-[72px] aria-expanded:w-[200px] flex flex-col" id="element-expand" data-element-expanded-target='sidebar'>
  <div class="flex items-center flex-wrap justify-between">
    <%= link_to(root_path(), class: 'w-28') do %>
      <%= image_tag "logo.svg", class: 'w-full h-full object-cover block group-aria-[expanded=false]:hidden' %>
    <% end %>
    <%= link_to(root_path()) do %>
      <div  class= 'hidden group-aria-[expanded=false]:flex items-center justify-center w-10 h-10 border-[1.5px] color-border-default rounded-md hover:color-bg-fill-hard' >
        <%= image_tag "logo-patinha.svg", class: 'w-6 h-6' %>
      </div>
    <% end %>
    <button data-action="click->element-expanded#toggle" class="flex items-center justify-center group-aria-[expanded=false]:mt-4 border-[1.5px] color-fg-default mt-0 color-border-default w-10 h-10 rounded-md hover:color-bg-fill-hard">
      <i data-lucide="menu" class="w-5 stroke-1.25"></i>
    </button>
  </div>
  <ul class="flex flex-col flex-1 gap-4">
    <div class="hidden group-aria-[expanded=false]:block h-[1.5px] w-full bg-light-palette-p3"></div>
    <li>
      <%= link_to account_advanced_search_path(Current.account), class: "button-menu-default-md w-full group-aria-[expanded=false]:w-10 group-aria-[expanded=false]:h-10 group-aria-[expanded=false]:flex group-aria-[expanded=false]:items-center group-aria-[expanded=false]:justify-center group-aria-[expanded=false]:px-0 rounded-full color-bg-fill-default hover:color-bg-fill-hard focus:border-transparent focus:color-fg-default h-9 gap-2", data: { turbo_frame: :modal, track: 'access_advanced_search_page' } do %>
        <i data-lucide="search" class="w-4 h-4"></i>
        <span class="group-aria-[expanded=false]:hidden inline-block typography-body-800">
          <%= t('activerecord.models.search', model: '') %>
        </span>
      <% end %>
    </li>
    <% menu_items.each do |item| %>
      <li>
        <%= link_to(item[:path], class: "#{'button-menu-default-selected-md' if item[:active_if].call } button-menu-default-md w-full group-aria-[expanded=false]:w-10 group-aria-[expanded=false]:h-10 group-aria-[expanded=false]:flex group-aria-[expanded=false]:items-center group-aria-[expanded=false]:justify-center group-aria-[expanded=false]:px-0", data: item[:link_data]) do %>
          <i data-lucide="<%= item[:icon] %>"></i>
          <span class="group-aria-[expanded=false]:hidden inline-block">
            <%= item[:label] %>
          </span>
        <% end %>
      </li>
    <% end %>
    <div class="h-[1.5px] w-full bg-light-palette-p3"></div>
    <li class='mt-auto'>
      <%= link_to(account_settings_path(Current.account), class: "#{'button-menu-default-selected-md' if request.path.include?('settings') } button-menu-default-md w-full group-aria-[expanded=false]:w-10 group-aria-[expanded=false]:h-10 group-aria-[expanded=false]:flex group-aria-[expanded=false]:items-center group-aria-[expanded=false]:justify-center group-aria-[expanded=false]:px-0") do %>
        <i data-lucide="bolt" ></i>
        <span class="group-aria-[expanded=false]:hidden inline-block">
          <%= t('views.layouts.shared.sidebar.company') %>
        </span>
      <% end %>
    </li>
  </ul>
</div>
