<% width_class ||= 'max-w-2xl' %>
<% modal_placement ||= 'top-center' %>
<% modal_closeable ||= 'true' %>
<% modal_backdrop ||= 'dynamic' %>
<%= turbo_frame_tag :modal do %>
  <div id="modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-[60] hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full" data-controller='modal load-lucid-icons' data-modal-placement-value="<%= modal_placement %>" data-modal-closeable-value="<%= modal_closeable %>" data-modal-backdrop-value="<%= modal_backdrop %>">
    <div class="relative w-full <%= width_class %> max-h-full mt-8">
      <!-- Modal content -->
      <%= form_with url: account_advanced_search_path(Current.account), method: :get, class: 'relative color-bg-surface-default rounded-lg shadow', data: {
        controller: 'form--search form--advanced-search',
        action: 'input->form--search#submit',
        form__search_target: :form,
        form__advanced_search_target: :form,
        turbo_frame: :results_session
        } do |f| %>
        <!-- Modal header -->
        <div class="flex justify-between gap-3 px-4 pt-4 md:px-5 md:pt-5 rounded-t">
          <%= render 'search_form', f: f %>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5" data-controller="load-lucid-icons">
          <%= render 'filters', f: f %>
          <%= turbo_frame_tag :results_session do %>
            <%= turbo_frame_tag :results, src: results_account_advanced_search_path(Current.account, q: params[:q] || ' ', search_type: params[:search_type] || ' '), loading: :lazy do  %>
              <div class="text-center py-8" data-controller="load-lucid-icons">
                <i data-lucide="search" class="w-12 h-12 mx-auto color-fg-extra-soft mb-2 animate-spin"></i>
                <p class="typography-text-r-lh150 color-fg-soft"><%= t('activerecord.models.processing') %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
