<%= turbo_frame_tag deal_product do %>
  <%= form_with(model: deal_product, url: update_path) do |form| %>
    <%= form.hidden_field :deal_page_id, value: params[:deal_page_id] %>
    <div class="bg-light-palette-p5 rounded-md mb-4 pb-6">
      <div class='border-[1px] px-2 py-4 border-brand-palette-07 rounded-lg'>
        <div class= "flex items-center gap-4 mb-4">
          <div class="h-16 w-16 flex items-center">
            <%= render '/components/products/images_carousel_list', product: deal_product.product %>
          </div>
          <div class="mr-auto">
            <h2 class="typography-text-s-lh150 text-dark-gray-palette-p1 mb-1">
              <%= deal_product.total_amount_in_cents_at_format %>
            </h2>
            <div class='flex items-center gap-1.5'>
              <%= form.number_field :quantity, placeholder: "10", class: 'form-input !p-0 w-20' %>
              <p class='typography-sub-text-s-lh150 text-dark-gray-palette-p4 '>
                <%= t('views.accounts.deals.details.deal_products.deal_product.item') %>
              </p>
            </div>
          </div>
          <div class='flex items-center gap-2 self-start' >
            <%= form.submit t('views.accounts.deals.details.deal_products.edit.save_changes'), class: 'button-default-blank-secondary-sm' %>
            <%= link_to deal_products_account_deal_path(current_user.account, deal_product.deal), class: 'button-default-blank-secondary-icon-only-sm' do %>
              <i data-lucide="x" height="16"></i>
            <% end %>
          </div>
        </div>
        <% if deal_product.errors.any? %>
          <div class='mb-4'>
            <ul>
              <% deal_product.errors.each do |error| %>
                <li class="typography-body-s-lh150 text-auxiliary-palette-red"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class='flex flex-col gap-4'>
          <% deal_product.class::FORM_FIELDS.each do | f | %>
            <div class="flex flex-col col-span-full">
              <%= form.label f, class: 'typography-text-s-lh150 text-gray-pallete-p3' %>
              <%= form.text_field f, f == :unit_amount_in_cents ? { class: "w-full form-input",  data: {controller: "input-mask--input-amount-in-cents" } } : { class: "w-full form-input"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
