<%= turbo_frame_tag DealProduct.new do%>
  <div class="flex items-center py-4 justify-between">
    <div class="flex items-center gap-2 text-dark-gray-palette-p1">
      <i data-lucide='box' class='w-5 h-5 stroke-1.04'></i>
      <p class="typography-body-s-lh150">
        <%= t('activerecord.models.product.other') %>
      </p>
    </div>
    <div class='flex gap-2'>
      <%= link_to new_account_deal_product_path(deal.account, deal_id: deal.id), class: 'button-default-blank-secondary-icon-only-sm' do %>
        <i data-lucide="plus"></i>
      <% end %>
      <button type="button" class="button-default-blank-secondary-icon-only-sm" data-accordion-target="#accordion-collapse-products" aria-expanded="true" aria-controls="accordion-collapse-products ">
        <i data-accordion-icon data-lucide="chevron-down" class="rotate-180 shrink-0" height="16"></i>
      </button>
    </div>
  </div>
<% end %>
<div id="accordion-collapse-products"  class="hidden py-3" aria-labelledby="accordion-collapse-heading-products">
  <%= turbo_frame_tag :deal_products, class:'grid gap-2.5 max-h-96 overflow-y-auto scroll-smooth custom-scroll-list-deal', src: deal_products_account_deal_path(deal.account, deal), loading: :lazy do  %>
    <%= render '/components/skeleton/deal_product_card'%>
    <%= render '/components/skeleton/deal_product_card'%>
    <%= render '/components/skeleton/deal_product_card'%>
  <% end %>
</div>
