<div class='rounded-md p-4 color-bg-surface-default border color-border-default'>
  <div class='flex justify-between content-start mb-[9px]'>
    <div class='h-10 w-10 rounded-full color-border-hard flex-shrink-0'>
      <div class="border color-bg-surface-harder rounded-full h-full w-full flex items-center">
        <i data-lucide="user" class="color-fg-soft m-auto w-6 h-6"></i>
      </div>
    </div>
    <%= link_to t('activerecord.models.full_profile'), details_url, class: 'button-default-outline-secondary-sm', data: { turbo_frame: :drawer } %>
  </div>
  <h1 class='typography-sub-title-800 select-text color-fg-default break-all mb-2.5 <%= dom_id(contact, :stream_full_name) %>'>
    <%= contact.full_name %>
  </h1>
  <div class='w-full border-[0.5px] color-border-default mb-2.5'>
  </div>
  <div class='mb-2'>
    <div class='inline-flex items-center gap-2 color-fg-default'>
      <i data-lucide="at-sign" class="w-5 h-5 stroke-1.04"></i>
      <p class='typography-body-900 select-text break-all <%= dom_id(contact, :stream_email) %>'>
        <%= contact.email %>
      </p>
    </div>
  </div>
  <div>
    <div class='inline-flex items-center gap-2 color-fg-default'>
      <i data-lucide="phone" class="w-5 h-5 stroke-1.04"></i>
      <p class='typography-body-900 select-text break-all <%= dom_id(contact, :stream_phone) %>'>
        <%= contact.phone %>
      </p>
    </div>
  </div>
</div>
