<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Woofed CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= vite_stylesheet_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= vite_javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag.meta name: "vapid-public-key", content: Rails.configuration.x.vapid.public_key %>
    <%= tag.meta name: "openpanel-token", content: ENV.fetch("OPENPANEL_TOKEN", "") %>
    <%= tag.meta name: "openpanel-endpoint", content: ENV.fetch("OPENPANEL_ENDPOINT", "https://api.openpanel.dev") %>
    <%= tag.meta name: "rails-environment", content: Rails.env %>
    <%= tag.meta name: "user-data", content: {
      id: current_user&.id,
      full_name: current_user&.full_name,
      email: current_user&.email,
      account_id: current_user&.account&.id,
      account_name: current_user&.account&.name
    }.to_json %>
    <meta name="mobile-web-app-capable" content="yes">
    <%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>
    <%= render "layouts/shared/analytics_scripts" %>
    <%= yield :stylesheets %>
  </head>
  <body data-user-locale='<%= current_user&.language || '' %>' data-account-currency="<%= Current.account&.currency_code || '' %>" data-controller="analytics--openpanel" >
    <div id="app" class="h-screen">
      <%= render partial: 'components/flash_message', locals: { message: flash[:notice] } %>
      <div class="flex h-full">
        <div>
          <% unless controller_path == 'accounts/deals' && ['show'].include?(action_name) %>
            <%= render "layouts/shared/sidebar" %>
          <% end %>
        </div>
        <div class="flex flex-col h-full w-full overflow-auto">
          <%= render "layouts/shared/navbar" %>
          <main class="h-full overflow-auto bg-brand-palette-08">
            <%= content_for?(:content) ? yield(:content) : yield %>
            <%= turbo_frame_tag "modal" %>
            <%= turbo_frame_tag :drawer %>
          </main>
        </div>
      </div>
    </div>
    <%= yield :javascripts %>
  </body>
</html>
